<footer class="container py-64 py-sm-32">
        <nav class="d-flex d-sm-block justify-content-between align-items-center mb-24">
            <a href="../pages/index.html" target="_blank">
                <img class="mb-sm-8" src="../assets/images/logo.svg" alt="logo">
            </a>
            <ul class="d-flex d-sm-block px-sm-12">
                <li class="me-40 me-sm-0 mb-sm-4">
                    <a class="link-neutral py-12" href="#">商品列表</a>
                </li>
                <li>
                    <a class="link-neutral py-12" href="../pages/story.html" target="_blank">品牌故事</a>
                </li>
            </ul>
        </nav>
        <div class="footer-border-top text-neutral-600 text-align-center">
            <p class="mt-32 mb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>