<nav class="container d-flex align-items-center py-16 p-sm-12">
    <h1 class="me-48">
        <a href="https://edie-099.github.io/2025-HTML-CSS-Task-4/index.html" target="_blank">
            <img src="../assets/images/logo.svg" alt="logo">
        </a>
    </h1>
    <ul class="d-flex">
        <li class="d-sm-none me-40">
            <a class="link-neutral py-12" href="#">商品列表</a>
        </li>
        <li class="d-sm-none">
            <a class="link-neutral py-12" href="https://edie-099.github.io/2025-HTML-CSS-Task-4/story.html" target="_blank">品牌故事</a>
        </li>
    </ul>
    <a class="p-12 ms-auto" href="https://edie-099.github.io/2025-HTML-CSS-Task-4/loginpage.html" target="_blank"><i class="bi bi-person"></i></a>
</nav>