<div class="bg-primary-200 d-flex justify-content-center align-items-center py-24">
    <p class="h4 h5-sm me-24 me-sm-16">加入會員取得 9 折優惠</p>
    <button type="button" class="btn btn-dark btn-sm"><a class="text-white" href="https://edie-099.github.io/2025-HTML-CSS-Task-4/loginpage.html" target="_blank">馬上註冊</a></button>
</div>